OPENAI_API_KEY=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
DISCORD_BOT_TOKEN= MTE1MjU2MTM1MDAwMjg3NjQ2OA.GmAwAG.RrACC1rQr0F-9GWhjuNeQbe3rRa-y3Wdwzc4Oc
DISCORD_CLIENT_ID=1152561350002876468

ALLOWED_SERVER_IDS=1
SERVER_TO_MODERATION_CHANNEL=1:1
